<div class="login-inner">
    <h1>Zaloguj się</h1>
    <form [formGroup]="myform" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Adres e-mail</label>
            <input type="text" class="form-control" formControlName="login">
            <div class="invalid-feedback">
                Please provide a valid first name.
            </div>
        </div>
    
        <div class="form-group">
            <label>Hasło</label>
            <input type="text" class="form-control" formControlName="password">
        </div>
        <button type="submit" class="btn btn-success">Zaloguj</button>
    </form>
    <pre>{{myform.value | json}}</pre>
</div>