.sidebar {
    width: 250px;
    background-color: rgba(255, 0, 0, 0.137);
}

.content {
    width:100%;
    background-color: rgba(0, 0, 255, 0.185);
    padding: 50px 70px 50px 70px;
}

.login-window {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}