<div [@sidebarAnimation]="sidebarState" class="sidebar">
    <ul>
        <li><a [routerLink]="['home']">Home</a></li>
        <li><a [routerLink]="['root']">root</a></li>
        <li><a [routerLink]="['incomes']">incomes</a></li>
        <li><a [routerLink]="['expenses']">expenses</a></li>
        <li><a [routerLink]="['login']">login</a></li>
    </ul>
</div>

<div class="content" [@contentAnimation]="contentState">
    <router-outlet></router-outlet>
</div>

<app-login class="login-window" [@loginboxAnimation]="loginboxState" (loggedIn)="hideLoginbox()"></app-login>


