incomes component
<a [routerLink]="['/income/new']">add</a>
	<table *ngIf="!data_fetching">
		<tr *ngFor="let row of incomes.data">
			<td>{{ row.name }}</td>
			<td>{{ row.periodic }}</td>
		</tr>
	</table>