/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
    width: 100%;
    height: 100%;
}

app-root {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}