<h1>Dodaj przychód</h1>

<form *ngIf="!data_fetching" [formGroup]="form" (ngSubmit)="postIncome()">
  <li *ngFor="let input of form_keys">
    <input type="text" [formControlName]="input">
  </li>
  <button type="submit">Dodaj</button>
</form>

<pre>{{form.value | json}}</pre>
